In [28]:
import pandas as pd
from pandasql import sqldf
query = lambda q: sqldf(q, globals())

In [29]:
 df = pd.read_excel('QuiverQuant Data.xlsx', sheet_name = "Senate Data")

In [30]:
df.head()

,Stock,Date,Senator,Purchase / Sale,Amount,Party
0,INTC,2021-06-06,"Whitehouse, Sheldon",Sale,"$15,001 - $50,000",D
1,CMG,2021-06-03,"Hickenlooper, John",Sale,"$100,001 - $250,000",NaN
2,PTON,2021-06-03,"Hickenlooper, John",Purchase,"$1,001 - $15,000",NaN
3,TTD,2021-06-03,"Hickenlooper, John",Purchase,"$15,001 - $50,000",NaN
4,QRTEA,2021-06-03,"Hickenlooper, John",Sale,"$100,001 - $250,000",NaN

In [35]:
stock_and_time = query ('SELECT DISTINCT Date, Stock FROM df')

In [39]:
stock_and_time.head()

                         Date  Stock
0  2021-06-06 00:00:00.000000   INTC
1  2021-06-03 00:00:00.000000    CMG
2  2021-06-03 00:00:00.000000   PTON
3  2021-06-03 00:00:00.000000    TTD
4  2021-06-03 00:00:00.000000  QRTEA

Write to CSV line-by-line

In [37]:
stock_and_time.iloc[1]

Date     2021-06-03 00:00:00.000000
Stock                           CMG
Name: 1, dtype: object

In [47]:
blank_df = {'Date': ['Blank'],
               'Stock': ['Blank']}
blank_df = pd.DataFrame.from_dict(blank_df)

    Date  Stock
0  Blank  Blank

In [ ]:
i = 0 
for i in range(0, len(stock_and_time)):
    stock_and_time.iloc[i].to_csv('price_at_time.csv', 
                                  header = False,
                                 mode = 'a')
    blank_df.to_csv('price_at_time.csv', 
                                  header = False,
                                 mode = 'a')